---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1> Hello!</h1>
			<p>
				This Astro stuff reminds me a bit of react, at least some of the file stuctures look very similar! Brings back not very fun memories of CSE 110 (React was difficult to learn when I barely knew any HTML 
				and little to no CSS. Man it was a pain trying to get things where you wanted.)
			</p>
			<p>
				Also cool and funny thing, I rerouted the github link to the repository for this astro project so if you want to visit the repository, all you have to do is click that github logo on the top right!

			</p>
			<p>Also I did use a template just to see how astro would look like, so I do not claim a lot of this I have only changed and added some parts.</p>
			<div class="foundCSS">
				<p>I found the CSS file!
			</div>
		</main>
		<Footer />
	</body>
</html>
